.textSize {
  font-size: 10px;
}

.d-flexo {
  display: flex;
}
.w-50 {
  width: 50%;
}

.text-danger {
  color: red;
}
.ml-5 {
  margin-left: 5px;
}
.border-tb {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}
.w-42 {
  width: 42%;
}
.w-16 {
  width: 16%;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
