.d-block{
    display:block;
}

.form_class{
   // margin-top: 20px;
    margin: 20px  2px;
}

.invalid{

    border: 1px solid red;
    box-shadow: 1px 1px  inset red;
}

.text-danger{
color: red;
}



.ml-5{
    margin-left: 5px;
}
